{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>About Us</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-image">
              <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <!--<h4>Welcome</h4>-->
              <p>Welcome to Debra McKalys, where every garment is meticulously crafted with an unwavering commitment to excellence. Our fashion company is dedicated to bringing you the epitome of grace and sophistication, with each piece thoughtfully designed and tailored to perfection. Our motto, "GRACE, made to fit," encapsulates our philosophy of embracing individuality and empowering every individual to feel confident and comfortable in their own skin.</p> 
              <br>
              <p>At Debra McKalys, we believe that true elegance comes from within, and our garments are meticulously crafted to enhance your unique beauty. We pay meticulous attention to every detail, from selecting the finest fabrics to ensuring impeccable craftsmanship. Our designs embody a harmonious blend of classic aesthetics and contemporary flair, curated to cater to the discerning tastes of modern fashion connoisseurs.</p>
              <br>
              <p>We are passionate about creating fashion that transcends trends and stands the test of time. Our collections embrace versatility, allowing you to effortlessly transition from day to night, from casual outings to special occasions. Whether you're seeking a statement piece or a timeless ensemble, We offers a curated selection that will elevate your wardrobe and reflect your individual style.</p>
              <br>
              <p>Our drive is to inspire confidence and celebrate the uniqueness of every individual. Our commitment to inclusivity is at the heart of everything we do, as we believe that fashion should be accessible and empowering for all. Join us on this fashion journey, where GRACE is not just a word, but a way of life. Experience the exquisite craftsmanship, impeccable fit, and the undeniable allure that define our brand. Together, let us embrace GRACE and celebrate the beauty that lies within each and every one of us.</p>
              <div class="share">
                <h6>Find us on: <span><a href="https://www.facebook.com/debramckalys?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a><a href="https://www.linkedin.com/in/omotoke-kalejaiye"><i class="fa fa-linkedin"></i></a><a href="https://twitter.com/DebraMckalys3?t=dDEp_hbCTdlkLccfZSo2Mg&s=08"><i class="fa fa-twitter"></i></a></span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
  {% endblock %}