{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Terms Of Service</h1>
            </div>
          </div>          
          <div class="col-md-12">
            <div class="right-content">
              <h4>Welcome to Debra McKalys! Before proceeding with your order, please take a moment to familiarize yourself with our terms of services: </h4>
              <p><b>Style Consultation:</b>
                To ensure we create the perfect outfit tailored to your preferences, a style consultation is necessary. The consultation fee is $10 per hour, during which we will discuss your style preferences and collaborate on the design details. Please note consultation fees are non-refundable.</p> 
              <br>
              <p><b>Payment Terms:</b>
                Upon confirmation of your order, a 70% deposit payment is required to initiate the production process.
                The remaining 30% balance payment is due upon delivery of your meticulously crafted items.</p>
              <br>
              <p><b>Additional Add-ons or Preferences:</b>
                Any additional add-ons or preferences requested after the style consultation will attract extra costs. These costs will be communicated and agreed upon before proceeding with the changes.</p>
              <br>
              <p><b>Order Processing Time:</b>
                Please note that order processing may take between 2 weeks to 3 months. Our dedicated team ensures every detail is perfected, resulting in exceptional quality garments. We strive to deliver exceptional quality, and this timeframe ensures meticulous attention to detail.</p>
              <br>
              <p><b>Express Orders:</b>
                If you require expedited delivery, we offer an express service. The express charges amount to 40% of the total cost, ensuring your order is prioritized in production and shipping.
              </p>
              <br>
              <p><b>Minimum Order Amount:</b>
                We kindly request a minimum order value of $100 per outfit (excluding handling and shipping fees). This allows us to maintain our commitment to excellence in craftsmanship and customer satisfaction.              </p>
              <br>
              <p><b>Delivery Options:</b>
                Dispatch delivery will incur an additional cost, which will be determined based on your location. The exact amount will be communicated during the checkout process.
                Alternatively, you have the option to pick up your order from our store free of charge.              </p>
              <br>
              <p><b>Post-Delivery Add-ons:</b>
                After your order has been confirmed perfect upon delivery, any additional add-ons or modifications will attract extra costs. These costs will be communicated and agreed upon prior to making any changes.              </p>
               <br>
               <br> 
                By proceeding with your purchase, you acknowledge and accept these terms of services. Should you have any inquiries or require further clarification, our customer support team is here to assist you. We are dedicated to providing you with a seamless and personalized fashion experience. Happy styling!
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
  {% endblock %}